@import url(//fonts.googleapis.com/css?family=Courgette);

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Open Sans', Courgette, sans-serif;
}

img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

h1 {
  line-height: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-align: center;
  color: #3173D8;
}

#wrapper {
  width: 100%;
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 800px;
}

#controls {
  width: 100%;
  margin: 0 auto;
  float: left;
  text-align: center;
}

#form {
  margin-top: 5px;
  font-size: 10px;
  text-align: left;
  line-height: 12px;
  width:400px;
  float: left;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 5px;
  font-size: 10px;
  text-align: right;
  line-height: 4px;
  font: Helvetica;
}
